@model IEnumerable<PublicApi.DTO.v1.StadiumArea>

@{
    ViewData["Title"] = @Resources.PublicApi.DTO.v1.Stadium.StadiumArea;
}

<h1>@Resources.PublicApi.DTO.v1.Stadium.StadiumArea</h1>

<p>
    <a asp-action="Create">@Resources.Common.Create</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Since)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Until)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Since)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Until)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">@Resources.Common.Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">@Resources.Common.Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">@Resources.Common.Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
