@model IEnumerable<PublicApi.DTO.v1.League>

@{
    ViewData["Title"] = @Resources.PublicApi.DTO.v1.LeagueTeam.League;
}

<h1>@Resources.PublicApi.DTO.v1.LeagueTeam.League</h1>

<p>
    <a asp-action="Create">@Resources.Common.Create</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">@Resources.Common.Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">@Resources.Common.Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">@Resources.Common.Delete </a> |
                <a asp-controller="Game" asp-action="Create"  asp-route-leagueId="@item.Id">@Resources.Common.AddLeagueGame</a>
            </td>
        </tr>
}
    </tbody>
</table>
