@model IEnumerable<PublicApi.DTO.v1.GameTeamList>

@{
    ViewData["Title"] = @Resources.PublicApi.DTO.v1.GameEvent.GameTeamList;
}

<h1>@Resources.PublicApi.DTO.v1.GameEvent.GameTeamList</h1>

<p>
    <a asp-action="Create" asp-route-gameTeamId="F7A4CFF3-AA8B-456E-1EBE-08D9209942E7">@Resources.Common.Create</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Person)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameTeam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InStartingLineup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Staff)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Person!.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GameTeam!.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role!.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InStartingLineup)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Staff)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">@Resources.Common.Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">@Resources.Common.Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">@Resources.Common.Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
