@model PublicApi.DTO.v1.GamePartType

@{
    ViewData["Title"] = @Resources.Common.Details;
}

<h1>@Resources.Common.Details</h1>

<div>
    <h4>@Resources.PublicApi.DTO.v1.GamePart.GamePartType</h4>
    <hr />
    
    <partial name="_CreateEdit" model="Model"/>
    
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">@Resources.Common.Edit</a> |
    <a asp-action="Index">@Resources.Common.BackToList</a>
</div>
