@model PublicApi.DTO.v1.GamePersonnel

@{
    ViewData["Title"] = @Resources.Common.Delete;
}

<h1>@Resources.Common.Delete</h1>

<h3>@Resources.Common.ConfirmDelete</h3>
<div>
    <h4>@Resources.PublicApi.DTO.v1.GamePersonnel.Index</h4>
    <hr />
    
    <partial name="_Details" model="Model"/>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="@Resources.Common.Delete" class="btn btn-danger" /> |
        <a asp-action="Index">@Resources.Common.BackToList</a>
    </form>
</div>
