@model PublicApi.DTO.v1.LeagueGame

@{
    ViewData["Title"] = @Resources.Common.Details;
}

<h1>@Resources.Common.Details</h1>

<div class="d-sm-flex align-items-center justify-content-center">
    <div class="card shadow mb-4" style="width: 80%;">
        <div class="card-header py-3">
            <div class="row d-sm-flex justify-content-between">
                <h4 class="m-0 font-weight-bold text-primary">@Model.HomeTeam!.Team!.Name</h4>
                <div class="d-sm-flex align-items-center justify-content-center">
                    <h4 class="m-0 font-weight-bold text-primary">@Model.HomeTeam!.Scored</h4>
                    <h4 class="m-0 font-weight-bold text-primary">:</h4>
                    <h4 class="m-0 font-weight-bold text-primary">@Model.AwayTeam!.Scored</h4>
                </div>
                
                <h4 class="m-0 font-weight-bold text-primary">@Model.AwayTeam!.Team!.Name</h4>
            </div>
            @* <h4 class="m-0 font-weight-bold text-primary text-center "> - </h4> *@
        </div>
        <div class="card-body">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4" style="width: 100%;">

            <div class="row d-sm-flex align-items-center justify-content-between">
                @Html.Display(User.Identity!.Name)
                @if (User.IsInRole("Admin") || User.IsInRole("Referee"))
                {
                    <a asp-controller="GameEvent" asp-action="Create" asp-route-gameTeamId="@Model.HomeTeam!.Id" class="btn btn-primary">
                        <span class="icon text-white-50">
                            <i class="fas fa-flag"></i>
                        </span>
                        <span class="text">@Resources.Common.AddGameEvent</span>
                    </a>
                    <a asp-controller="GameEvent" asp-action="Create" asp-route-gameTeamId="@Model.AwayTeam!.Id" class="btn btn-primary">
                        <span class="icon text-white-50">
                            <i class="fas fa-flag"></i>
                        </span>
                        <span class="text">@Resources.Common.AddGameEvent</span>
                    </a>    }
            </div>
            <div class="row d-sm-flex align-items-center justify-content-center">
                <div class="h2 text-black-800 text-center">@Resources.PublicApi.DTO.v1.Game.GameEvents</div>
                <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                    @if (Model.Game!.GameEvents!.Count != 0)
                    {
                        <thead>
                        <tr role="row">
                            <th rowspan="1" colspan="1">@Resources.PublicApi.DTO.v1.GameEvent.GameTime</th>
                            <th rowspan="1" colspan="1">@Html.DisplayNameFor(model => model.Game!.GameEvents)</th>
                            <th rowspan="1" colspan="1">@Resources.Common.Player</th>
                            <th rowspan="1" colspan="1">@Resources.PublicApi.DTO.v1.GameTeam.Game</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model.Game.GameEvents.OrderBy(x => x.GameTime).ThenBy(x=> x.NumberInOrder))
                        {
                            <tr>
                                <td>
                                    @item.GameTime
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EventType!.Name)
                                </td>
                                <td>
                                    @item.GameTeamList!.TeamPerson!.Person!.FullName
                                </td>
                                <td>
                                    @item.GameTeamList!.TeamPerson!.Team!.Name
                                </td>

                            </tr>
                        }
                        </tbody>
                    }
                </table>
            </div>


            <div class="row d-sm-flex align-items-center justify-content-center">

                <div class="col-sm-6">
                    <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                        <div class="h4 text-black-800 text-center">
                            @Resources.PublicApi.DTO.v1.GameTeamList.InStartingLineup
                        </div>
                        <thead>
                        <tr role="row">
                            <th rowspan="1" colspan="1">@Html.DisplayNameFor(model => model.HomeTeamList![0].Person!.FirstName)</th>
                            <th rowspan="1" colspan="1">@Html.DisplayNameFor(model => model.HomeTeamList![0].Person!.LastName)</th>
                        </tr>
                        </thead>
                        
                        <tbody>
                        @if (Model.HomeTeamList!.Count != 0)
                        {
                            
                            @foreach (var item in Model.HomeTeamList.Where(item => item.InStartingLineup))
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TeamPerson!.Person!.FirstName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TeamPerson!.Person!.LastName)
                                    </td>
                                </tr>
                            }
                            <tr role="row">
                                
                                <td rowspan="2" colspan="2">
                                    <div class="h4 text-black-800 text-center">
                                        @Resources.PublicApi.DTO.v1.GameTeamList.Subsitutions
                                    </div>
                                </td>
                            </tr>
                            <tr></tr>
                            @foreach (var item in Model.HomeTeamList.Where(item => !item.InStartingLineup && !item.Staff))
                            {
                                <tr>
                                    <td>
                                        @item.TeamPerson!.Person!.FirstName
                                    </td>
                                    <td>
                                        @item.TeamPerson!.Person!.LastName
                                    </td>
                                </tr>
                            }
                            
                            
                            <tr role="row" class="text-center">
                                <td rowspan="2" colspan="2">
                                    <div class="h4 text-black-800 text-center">
                                        @Resources.PublicApi.DTO.v1.GameTeamList.Staff
                                    </div>
                                </td>
                            </tr>
                            @foreach (var item in Model.HomeTeamList.Where(item => item.Staff))
                            {
                                <tr>
                                    @if (item.Person != null)
                                    {
                                        <td>@item.Person!.FirstName</td>
                                        <td>@item.Person!.LastName</td>
                                    }
                                    else
                                    {
                                        <td>@item.TeamPerson!.Person!.FirstName</td>
                                        <td>@item.TeamPerson!.Person!.LastName</td>
                                    }
                                </tr>
                                <a asp-controller="GameTeamList" asp-action="Create" asp-route-gameTeamId="@Model.AwayTeam!.Id" class="btn btn-primary">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-flag"></i>
                                    </span>
                                    <span class="text">@Resources.Common.AddGameEvent</span>
                                </a>                            }
                            
                        }
                        else
                        {
                            if (User.IsInRole("Admin") || User.IsInRole("Manager") || User.IsInRole("Referee"))
                            {
                                <a asp-controller="GameTeamList" asp-action="Edit" asp-route-gameTeamId="@Model.HomeTeam!.Id" class="btn btn-primary">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-flag"></i>
                                    </span>
                                    <span class="text">@Resources.Common.AddGameTeamList</span>
                                </a>
                            }
                        }
                        </tbody>
                    </table>
                </div>


                <div class="col-sm-6">

                    <div class="h4 text-black-800 text-center">@Resources.PublicApi.DTO.v1.GameTeamList.InStartingLineup</div>

                    <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                        <thead>
                        <tr role="row">
                            <th rowspan="1" colspan="1">@Html.DisplayNameFor(model => model.AwayTeamList![0].Person!.FirstName)</th>
                            <th rowspan="1" colspan="1">@Html.DisplayNameFor(model => model.AwayTeamList![0].Person!.LastName)</th>
                        </tr>
                        </thead>
                        <tbody>
                        @if (Model.AwayTeamList!.Count != 0)
                        {
                            
                            @foreach (var item in Model.AwayTeamList!.Where(x => x.InStartingLineup))
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TeamPerson!.Person!.FirstName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TeamPerson!.Person!.LastName)
                                    </td>
                                </tr>
                            }
                            <tr role="row" class="text-center">
                                <td rowspan="2" colspan="2">
                                    <div class="h4 text-black-800 text-center">
                                        @Resources.PublicApi.DTO.v1.GameTeamList.Subsitutions
                                    </div>
                                </td>
                            </tr>
                            <tr></tr>
                            
                            @foreach (var item in Model.AwayTeamList!.Where(x => !x.InStartingLineup && !x.Staff))
                            {
                                <tr>
                                    <td>
                                        @item.TeamPerson!.Person!.FirstName
                                    </td>
                                    <td>
                                        @item.TeamPerson!.Person!.LastName
                                    </td>
                                </tr>
                            }
          
                            <tr role="row" class="text-center">
                                <td rowspan="2" colspan="2">
                                    <div class="h4 text-black-800 text-center">
                                        @Resources.PublicApi.DTO.v1.GameTeamList.Staff
                                    </div>
                                </td>
                            </tr>
                            
                            @foreach (var item in Model.AwayTeamList!.Where(x => x.Staff))
                            {
                                <tr>
                                    @if (item.Person != null)
                                    {
                                        <td>@item.Person!.FirstName</td>
                                        <td>@item.Person!.LastName</td>
                                    }
                                    else
                                    {
                                        <td>@item.TeamPerson!.Person!.FirstName</td>
                                        <td>@item.TeamPerson!.Person!.LastName</td>
                                    }
                                </tr>
                                
                            }
                        }
                        
                        else if (User.IsInRole("Admin") || User.IsInRole("Manager") || User.IsInRole("Referee"))
                        {
                            <a asp-controller="GameTeamList" asp-action="Edit" asp-route-gameTeamId="@Model.AwayTeam!.Id" class="btn btn-primary">
                                <span class="icon text-white-50">
                                    <i class="fas fa-flag"></i>
                                </span>
                                <span class="text">@Resources.Common.AddGameTeamList</span>
                            </a>                            
                        }
                        </tbody>
                    </table>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
@if (User.IsInRole("Admin"))
{
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Game!.Id">@Resources.Common.Edit</a> |
        <a asp-action="Index">@Resources.Common.BackToList</a>
    </div>
}