@model PublicApi.DTO.v1.Team

@{
    ViewData["Title"] = "Details";
}

<h1>@Resources.Common.Details</h1>

<div>
    <h4>@Resources.PublicApi.DTO.v1.GameTeam.Team</h4>
    <hr />
    
    <partial name="_Details" model="Model"/>
    
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">@Resources.Common.Edit</a> |
    <a asp-action="Index">@Resources.Common.BackToList</a>
</div>
